body{
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}
/* hero-section  */
.hero-section{
    display: flex;
    background-color: black;
    width: 1200px;
    height: 600px;
    border-radius: 30px;
}
.hero-text{
    color: white;
    padding-left: 40px;
    
}
.hero-text h1{
    font-size: 55px;
    font-weight: bold;
}
.hero-text p{
 font-size: 16px;
 font-weight: 400;
}
.hero-button {
    background-color: #DD0000;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;

}
.hero-text a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    gap: 5px;
}
.hero-banner img{
    width: 540px;
    height: 600px;
    margin-bottom: 40px;
}
/* live-match  */
.live-match button{
    display: block;
    margin-top: 20px;

}
/* blogs ------
 */
 .main-blog{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin-top: 20px;
 }
 .blogs{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-column-gap: 10px;
    
 }
 .blog{
    width: 310px;
    height: 350px;
    gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
 }
 .blog-info{
    padding-left: 18px;
 }
 .blog-info button a{
    text-decoration: none;
 }
 .live-match{
    height: 150px;
    margin: 16px;
    padding: 50px;
    background-color: black;
    text-decoration: none;
 }
 .live-match button{
    width: 100px;
    height: 40px;
    background-color: white;
    
 }
 .live-match button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    
    
 }
 #blog-btn{
    background-color: red;
 }
 /* blog page2 ----------
  */
.blogs-2{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-column-gap: 10px;
}
.blog-2{
    width: 279px;
    height: 180px;
    gap: 5px;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}
#upcomming-btn{
   background-color: red;
}
#blog-btn-2{
   background-color: white;
}
 /* footer --------
  */
  footer{
    width: 100%;
    height: 250px;
    background-color: black;
    margin: -36px;
    padding: 38px;
    margin-top: 50px;
  }
  footer h2{
     color: white;
     text-align: center;
  }
  footer p{
    color: white;
  }
 .footer-info{
    display: flex;
    justify-content: space-around;
 }